
@font-face {
	font-family: "IronMan";
	src: url(assets/IronManOfWar001ANcv-6d2Y.ttf);
}

:root {
	font-family: "Orbitron";

	--cell-size: 32px;
}

.page-title {
	font-size: 3rem;
}

.normal-text {
	font-size: 2rem;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p {
	width: fit-content;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 32px;
}

button {
	padding: 8px 15px;
	border: none;
	border-radius: 2px;
	min-width: 80px;
	font-family: "Orbitron";
	font-size: 1.5rem;

	background: linear-gradient(223deg,rgb(59, 146, 217) 0%, rgb(128, 128, 128) 100%);
	box-shadow: 2px 2px 5px gray;

	&:hover {
		background: linear-gradient(223deg,rgb(104, 187, 255) 0%, rgb(146, 157, 167) 100%);
	}

	&:active {
		box-shadow: none;
	}
}

#setup-ship-container {
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin: 32px;
}

.ship {
	width: var(--cell-size);
	height: calc(var(--cell-size) * var(--size));

	background-color: rgb(89, 116, 116);
	background-size: 100% 100%;
	background-blend-mode: multiply;

	&#patrol {
		background-image: url(assets/patrol-boat-2.png);
	}

	&#submarine {
		background-image: url(assets/ship-3.png);
	}

	&#destroyer {
		background-image: url(assets/ship-3.png);
	}

	&#battleship {
		background-image: url(assets/battleship-4.png);
	}

	&#carrier {
		background-image: url(assets/carrier-5.png);
	}
}